[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-benchmark = {version = "*", extras = ["histogram"]}
aoc2020 = {path = "."}

[packages]
aoc2020 = {path = "."}

[requires]
python_version = "3.8"
